:root{
--White: hsl(0, 0%, 100%);
--Very-light-grayish-blue: hsl(210, 60%, 98%);
--Light-grayish-blue-1: hsl(211, 68%, 94%);
--Light-grayish-blue-2: hsl(205, 33%, 90%);
--Grayish-blue: hsl(219, 14%, 63%);
--Dark-grayish-blue: hsl(219, 12%, 42%);
--Very-dark-blue: hsl(224, 21%, 14%);
--Red: hsl(1, 90%, 64%);
--Blue: hsl(219, 85%, 26%);
}

@import url('https://fonts.google.com/specimen/Plus+Jakarta+Sans');

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: var(--Very-light-grayish-blue);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 15px;
}

.card{
    background-color: var(--White);
    width: 700px;
    height: 100vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-notification{
    display: flex;    
    width: 90%;
    align-items: center;
    margin-bottom: 1.5rem;
    padding-top: 1.5rem;
 
}

.header-notification > p{
    flex-grow: 1;
    margin-left: auto;
    text-align: end;
    color: var(--Grayish-blue);
   
}

.header-notification > span{
    background-color: var(--Blue);
    width: 1.5rem;
    height: 1.2rem;
    border-radius: 0.3rem;
    color: var(--White);
    display: flex;
    justify-content: center;
    align-items: center;
 }

h3{
    margin-right: 10px;
}

.container{
    display: flex;
    width: 90%;
    margin-bottom: 1%;
    padding: 0.6rem 0.8rem 0.6rem 0.6rem;
    border-radius: 0.3rem;
}

.comment-container{
    width: 70%;
    border: 1px solid var(--Light-grayish-blue-1);
    padding: 0.8rem;
    margin-right: 0;
    margin-left: 15%;
    margin-bottom: 20px;
    border-radius: 0.2rem;

}

.readed-style{
    background-color: var(--Light-grayish-blue-2);
}

.container > p > span{
    font-weight: bold;
}

.icon-user{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.reaction{
    color: var(--Grayish-blue);
}

.activity{
    color: var(--Dark-grayish-blue);
}

.date-comment{
   display: block;
   color: var(--Grayish-blue);
}

.group{
    color: var(--Blue);
}

.dot{
    display: flex;
    background-color: var(--Red);
    min-width: 8px;
    height: 8px;
    border-radius: 1rem;
    margin: 0.3rem 0 0 0.4rem;
}

.icon-user-comment{
    width: 30px;
    height: 30px;
    margin-left: auto;
}

a{
    text-decoration: none;
    color: var(--Blue);
    font-weight: bold;
}

@media screen and (min-width: 768px){
    .card{
        height: auto;
    }
   
   
}