*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #666;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card{
    background-color: white;
    width: 375px;
    height: 540px;
    display: flex;
}

.imagen{
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
    height: 35%;
}

img{
    width: 90%;
    height: 90%;
    border-radius: .5rem .5rem 0 0;
}

.text-container{
    height: 65%;
    width: 90%;
    height: 61%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0 0 .5rem .5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.first-title{
    font-size: .8rem;
    letter-spacing: .3rem;
    text-transform: uppercase;
}

.text{
    width: 100%;
}

.text::first-letter{
    text-transform: capitalize;
}

.prices{
    display: flex;
    gap: 1.2rem;
    align-items: center;
}

.btn-add-cart{
    background-color: #136320;
    color: white;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-radius: .5rem;
    border: none;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    text-transform: capitalize;
}

.second-title{
    text-transform: capitalize;
    font-family: 'Fraunces', serif;
    font-size: 1.3rem;
    width: 70%;
    
}

.real-price{
    font-family: 'Fraunces', serif;
    font-size: 1.5rem;
    color: #136320;
}

.offer-price{
    font-size: .8rem;
    text-decoration: line-through;
}